*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color:black;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/27204161/pexels-photo-27204161/free-photo-of-a-group-of-ships-in-the-ocean-with-a-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 50px;
    color:white;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor:pointer
}
body{
    overflow-x:hidden ;
}
#full{
    height:  100%;
    width: 40%;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.46);
    top: 0;
    right: -40%;
    /* filter: blur(30px); */
    backdrop-filter: blur(10px);
    color:black;
    text-transform: capitalize;
    padding: 150px 60px;
}
#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    color:black
}
#full i{
    position:absolute;
    top:5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor:pointer;
}